.about__tittle {
    padding-bottom: 30px;
    text-align: center;
}

.about__tittle h1 {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

@media screen and (max-width: 768px) {
    .about__tittle h1 {
        font-size: 40px;
        line-height: 50px;
    }
}