body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    border-bottom: 1px solid #000;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    background-color: #ffffffdc;
    z-index: 5;
}

.header__wrapper {
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo__img {
    margin-right: 20px;
}

.logo__text h2 {
    font-family: 'Laila';
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: #000;
}

.menu {
    display: flex;
}

.menu-wrap {
    position: relative;
}