.children__wrapper {
    padding-top: 160px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.children__container {
    padding: 0 74px;
}

.slider-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 0 20px 50px 20px;
}

.slider3 {
    margin: 0 !important;
}

.children__text {
    padding-top: 20px;
}

.children__text h2 {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

@media screen and (max-width: 520px) {
    .slider-wrapper {
        padding: 50px 0 0 0;
    }

    .children__container {
        padding: 0 20px;
    }

    .children__wrapper {
        padding-top: 40px;
        padding-bottom: 92px;
    }

    .children__text {
        padding-top: 10px;
    }

    .children__text h2 {
        font-size: 15px;
        line-height: 25px;
    }

}