.slider-parent__wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.slider-parents__container {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    padding-top: 100px;
}

.slider__wrapper {
    padding: 60px 0;
}

.slider__heading {
    padding-bottom: 40px;
}

.slider__heading h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #ffffff8d;
    transition: all 0.7s ease;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: #575454ae;
}

.slider-parent-mom {
    display: flex;
}

@media screen and (max-width: 520px) {
    .slider-parents__container {
        padding-top: 60px;
    }

    .slider__heading h2 {
        font-size: 17px;
        line-height: 23px;
    }

    .slider__heading {
        padding-bottom: 20px;
    }
}