.slider-parent-mom__wrapper,
.slider-parent-dad__wrapper {
    padding-top: 120px;
    max-width: 600px;
    margin: 0 auto;
}

.slider__wrapper {
    padding: 60px 0;
}

.slider__heading {
    padding-bottom: 40px;
}

.slider__heading h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
}

.slider-parent-mom {
    display: flex;
}