html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu li,
.submenu__list li {
    margin-right: 30px;
    border-bottom: 1px solid transparent;
}

.menu li:last-child,
.submenu__list:last-child {
    margin-right: 0;
}

.menu li a,
.submenu__list a,
.menu li button,
.sidebar__menu li a,
.sidebar__menu li button {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.5s ease;
}

.menu li a:hover,
.submenu__list a:hover,
.menu li button:hover,
.modal__text a:hover {
    color: #00000080;
}

.about__descpription p,
.training__text p,
.care__text p,
.character__text p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.about__descpription ul li,
.care__text ul li {
    list-style: disc;
}

.character__wrapper,
.care__wrapper,
.training__wrapper {
    padding: 60px 0 80px 0;
}

.character__text,
.care__text,
.raining__text {
    max-width: 570px;
}

.character__block,
.care__block,
.training__block {
    display: flex;
    justify-content: space-between;
}

.character__image,
.care__image,
.training__image {
    min-width: 500px;
    margin-left: 30px;
}

.training__title h2,
.care__title h2,
.character__title h2 {
    padding-bottom: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.swiper-slide {
    max-width: 769px;
}

.cross,
.modal__btn-close {
    width: 35px;
    height: 35px;
    position: relative;
}

.cross:before,
.cross:after,
.modal__btn-close::before,
.modal__btn-close::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 2px;
    background-color: black;
    transform-origin: center;
    border-radius: 10px;
}

.cross:before,
.modal__btn-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross:after,
.modal__btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 992px) {

    .character__image,
    .care__image,
    .training__image {
        min-width: 400px;
    }
}

@media screen and (max-width: 768px) {

    .about__descpription p,
    .training__text p,
    .care__text p,
    .character__text p {
        font-size: 16px;
        line-height: 20px;
    }

    .training__title h2,
    .care__title h2,
    .character__title h2 {
        font-size: 22px;
        line-height: 27px;
    }

    .character__image,
    .care__image,
    .training__image {
        min-width: 300px;
    }

    .menu li a,
    .submenu__list a,
    .menu li button,
    .sidebar__menu li a,
    .sidebar__menu li button {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 592px) {

    .character__block,
    .care__block,
    .training__block {
        flex-direction: column-reverse;
        align-items: center;
    }

    .character__image,
    .training__image,
    .care__image {
        margin: 0 0 30px 0;
    }

    .character__wrapper,
    .care__wrapper,
    .training__wrapper {
        padding: 40px 0 0 0;
    }

    .menu li a:hover,
    .submenu__list a:hover,
    .menu li button:hover,
    .modal__text a:hover {
        color: #000000;
    }
}