html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu li,
.submenu__list li {
    margin-right: 30px;
    border-bottom: 1px solid transparent;
}

.menu li:last-child,
.submenu__list:last-child {
    margin-right: 0;
}

.menu li a,
.submenu__list a,
.menu li button {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.5s ease;
}

.menu li a:hover,
.submenu__list a:hover,
.menu li button:hover,
.modal__text a:hover {
    color: #00000080;
}

.about__descpription p,
.training__text p,
.care__text p,
.character__text p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.about__descpription ul li,
.care__text ul li {
    list-style: disc;
}

.training__wrapper,
.care__wrapper,
.character__wrapper {
    display: flex;
    justify-content: space-between;
}

.training__block,
.care__block,
.character__block {
    max-width: 570px;
    margin-right: 30px;
}

.training__title h2,
.care__title h2,
.character__title h2 {
    padding-bottom: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.swiper-slide {
    max-width: 769px;
}